<menu class="social-media-share">
    <a href="http://facebook.com/oehokie" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="http://twitter.com/martz" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://plus.google.com/+MattMartz0" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="http://linkedin.com/in/mattmartz" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="http://github.com/oehokie" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="http://last.fm/user/vtmartz" class="icon-lastfm" rel="external" title="My Lastfm"></a>
</menu>